/* Global Styles */
:root{
    --blue: #0E243A;
    --white: #fffce7;
    --green: #00b600;
    --lightGreen: #deffde;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.section{
    padding: 75px 5%;
}
.section .titleSection{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}
.textGroup{
    color: var(--white);
}
.textGroup h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
.textGroup h1 strong{
    color: var(--green);
}
.textGroup button{
    margin-top: 20px;;    
}
button{
    height: 40px;
    padding: 0 20px;
    color: var(--blue);
    font-weight: 600;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* Header styles */
header{
    width: 100%;
    height: 70px;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: var(--white);
    position: sticky;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.151);
}
header h1{
    font-size: 22px;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul li{
    padding: 0 10px;
}
header nav ul li a{
    color: var(--white);
    font-size: 14px;
    opacity: .8;
    text-decoration: none;
}
header nav button{
    margin-left: 10px;
}

/* Initial Section styles */
#initial{
    background-color: var(--blue);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 100px 5%;
}
#initial .leftArea{
    width: 45%;
}
#initial .rightArea{
    width: 45%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 5px;
}
#benefits{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--lightGreen);
}
#benefits .textGroup{
    color: var(--blue);
    width: 45%;
}
#benefits .benefits{
    width: 45%;
    position: absolute;
    right: 5%;
}
#benefits .benefits .benefit{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white);
    padding: 30px;
    border-radius: 5px;
    box-shadow: -2px 2px 4px #00000016;
    margin-bottom: 10px;
}
#benefits .benefits .benefit .areaIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6cb6ff34;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 20px;
}
#benefits .benefits .benefit .areaInfos{
    color: var(--blue);
}
#clients{
    padding-top: 100px;
}
#clients .titleSection{
    color: var(--blue);
    margin-bottom: 40px;
}
#clients .quote{
    width: 550px;
    background-color: var(--blue);
    padding: 30px;
    border-radius: 20px 20px 20px 0;
    margin: 0 auto;
    color: var(--white);
    font-size: 14px;
    line-height: 22px;    
    position: relative;
    box-shadow: -2px 2px 4px #00000016;
}
#clients .quote:after{
    position: absolute;
    content: '';
    bottom: 0;
    right: 100%;
    height: 30px;
    width: 30px;
    background-color: var(--blue);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 2px;
    transform: translate(50%, 0);
}
#clients .quote::before{
    position: absolute;
    content: '"';
    top: 0;
    right: 10px;
    transform: translate(0, 10px);
    filter: drop-shadow(-2px 2px 4px #00000016);
    color: var(--green);
    font-size: 100px;
}
#clients .controllers{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px;
}
#clients .controllers .controller{
    width: 35px;
    height: 3px;
    background-color: var(--blue);
    margin: 0 4px;
    opacity: .6;
}
#clients .controllers .controller.active{
    width: 45px;
    height: 6px;
    opacity: 1;
}